@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700');

@tailwind base;
@tailwind components;
@tailwind utilities;
.main-container{
    font-family: 'DM Sans';
    font-weight: 700;
/* font-family: 'Mr Dafoe', cursive; */
    background-size: contain;
    background-position: 200% 100%;
    background-image: url('../src/assets/bg.jpg');
}
.navbarItem{
    @apply text-slate-900 transform hover:translate-y-[-10px] rounded-lg p-3 bg-purple-500 shadow 
}
.logs{
    @apply btn btn-circle text-slate-900 transform hover:bg-purple-500/30 hover:translate-y-[-10px] p-3 text-2xl bg-purple-500 shadow 
}
.footer{
    /* background-position: 0% 00px ; */
    background-size: cover;
    
    z-index: 10;
    background-repeat: no-repeat;
    background-image: url("../src/assets/footer.png");
}